<header class="mb-3" >
  <div class="container mt-5 d-flex justify-content-between  border-bottom border-secondary py-2">
    <h2 class="text-light">Product List</h2>
    <div class="action_box d-flex gap-1 align-items-center">
      <a class="btn bg-primary text-light">Add Product</a>
      <form class="search ">
        <div class="search_box d-flex gap-1">
          <input type="text" placeholder="search by name" class="form-control" id="exampleFormControlInput1">
          <i class='ri-search-line btn bg-primary text-light fs-5'></i>
        </div>
      </form>
    </div>
  </div>
  </header>
<section>
  <div class="container d-flex flex-wrap gap-2">
    @for (item of Data; track $index) {
      <app-product-card [product]="item" (delete)="deleteProd($event)"></app-product-card>
    }
    @empty {
      <h3 class="text-light">no products</h3>
    }
  </div>
</section>

